{% block conteudo %}
<!DOCTYPE html>
<html lang="pt=BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>

<body>

    <!-- 
    {% if usuario %}
        <a href="{% url 'logout' %}">Sair</a>

        <br>
    {{ objeto }}
    {% endif %}

    {%if usuario.id == None %}
        <a href="{% url 'login' %}">Login </a>

        <br>
    {{ objeto }}
    {% endif %} -->

    <a href="{% url 'logout' %}">Sair</a>

    <br>

    <a href="{% url 'login' %}">Login </a>

    <br>
    {{ objeto }}




</body>

</html>

{% endblock %}