<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>

<body>

    <a href="{% url 'index' %}">INICIO</a>

    <form method='POST' action="{% url 'autenticar' %}"> {% csrf_token %}

        {% if validacao == '00' %}
        <div class="alert alert-danger" role="alert">
            E-MAIL / SENHA INVÁLIDA
        </div>
        {% endif %}

        <p><input type="text" placeholder="email" required name="email"></p>
        <p><input type="password" placeholder="senha" required name="senha">
        </p>


        <p><input type="submit" value="Entrar">
        <p><a  href="">Criar novo usuário</a></p>
        </p>
    </form>

</body>

</html>